
@import "modules/d3-blurb/blurb.css"; 
@import "modules/pages/pages.css"; 
@import "modules/right-wrong/right-wrong.css"; 

html,
body {
  height: 100%;
  font-family: Roboto Mono;
  font-size: 100%;
  margin: 0;
}

body {
  background-color: black;
  height: 100vh;
  font-family: Roboto Mono;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 

.float-container {
  width:100%;
  height:fit-content;
  margin:0px;
}

.float-child {
  width: 50%;
  height: 100%;
  float: left;
} 

.float-child > div {
  height: 80%;
}  

.padding-5 {
    padding: 5%;
}

.margin-5 {
  margin: 5%;
}

.margin-10 {
  margin: 10%;
}

.border-3 {
  border: 3px solid;
}

.fill-black {
  fill: black;
  background-color: black;
}

.white {
  color: white;
  border-color: white;
  fill: white;
}

.absolute {
  position:absolute;
  padding: 20px;
}

.center {

}

.absolute-child.center {
  right: 50%;
}  

.demo-text {
  font-family: monospace;
  text-align: center;
  font-size: large;
}

.left_poem {
  margin-right: 15%;
}

.right_poem {
  margin-left: 15%;
}
