
@import "modules/d3-blurb/blurb.css"; 
@import "modules/pages/pages.css"; 
@import "modules/right-wrong/right-wrong.css"; 

html,
body {
  height: 100%;
  font-family: Roboto Mono;
  font-size: 100%;
  margin: 0;
}

body {
  background-color: black;
  height: 100vh;
  font-family: Roboto Mono;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 

.poem-container {
  width: auto;
}

.poem-container > img {
  position: relative;
  top: -60%;
  width: 33%;
  left:33%
}

.float-container {
  width:100%;
  height:fit-content;
  margin:0px;
}

.float-child {
  width: 50%;
  height: 100%;
  float: left;
} 

.float-child > div {
  height: 80%;
}  

.padding-5 {
    padding: 5%;
}

.margin-1 {
  margin: 1%;
}

.margin-3 {
  margin: 3%;
}

.margin-5 {
  margin: 5%;
}

.margin-10 {
  margin: 10%;
}

.border-3 {
  border: 3px solid;
}

.fill-black {
  fill: black;
  background-color: black;
}

.white {
  color: white;
  border-color: white;
  fill: white;
}

.absolute {
  position:absolute;
  padding: 20px;
}

.absolute-child.center {
  right: 50%;
}  

.demo-text {
  font-family: monospace;
  text-align: center;
  font-size: large;
}

.left_poem {
  /* margin-right: 10%; */
  margin-top: 2em;
}

.right_poem {
  /* margin-left: 10%; */
  margin-top: 2em;
}

#page1 h1 {
  text-align: left;
}

#poem-comparison h1 {
  text-align: center;
}
#poem-comparison h2 {
  text-align: center;
}

#finger-touch{
  /* border-color: white; */
  /* border-width: 2px;  */
  -webkit-animation: finger_touch_size 5s ease-in-out infinite; 
  -moz-animation:    finger_touch_size 5s ease-in-out infinite;
  animation:         finger_touch_size 5s ease-in-out infinite;
}

@-webkit-keyframes finger_touch_size {
  0%   { opacity: 0;}
  50%   { opacity: 0; }
  90% { opacity: 1; }
  100% { opacity: 0; }

}
@-moz-keyframes finger_touch_size {
  0%   { opacity: 0;}
  50%   { opacity: 0; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes finger_touch_size {
  0%   { opacity: 0;}
  50%   { opacity: 0; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

#finger {

  -webkit-animation: finger_fade_move_up 5s ease-in-out infinite;
  -moz-animation:    finger_fade_move_up 5s ease-in-out infinite;
  animation:         finger_fade_move_up 5s ease-in-out infinite;
}

@-webkit-keyframes finger_fade_move_up {
  0%   { -webkit-transform:translate(0,-50px); opacity: 0;  }
  90%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,0px); opacity: 0; }
}
@-moz-keyframes finger_fade_move_up {
  0%   { -moz-transform:translate(0,-15px); opacity: 0;  }
  90%  { opacity: 1;  }
  100% { -moz-transform:translate(0,0px); opacity: 0; }
}
@keyframes finger_fade_move_up {
  0%   { transform:translate(0,-15px); opacity: 0;  }
  90%  { opacity: 1;  }
  100% { transform:translate(0,0px); opacity: 0; }
}

