
@import "modules/d3-blurb/blurb.css"; 
@import "modules/pages/pages.css"; 
@import "modules/right-wrong/right-wrong.css"; 

html,
body {
  height: 100%;
  font-family: Roboto Mono;
  margin: 0;
}

body {
  background-color: black;
  height: 100vh;
  font-family: Roboto Mono;
}

.float-container {
  width:100%;
  height:fit-content;
  margin:0px;
}

.float-child {
  width: 50%;
  height: 100%;
  float: left;
}  

.padding-5 {
    padding: 5%;
}

.margin-5 {
  margin: 5%;
}

.margin-10 {
  margin: 10%;
}

.border-3 {
  border: 3px solid;
}

.white {
  color: white;
  border-color: white;
  fill: white;
}

.absolute {
  position:absolute;
  right: 0;
  padding: 20px;
  border: 2px solid blue;
}

.absolute-child.center {
  right: 50%;
}  

.demo-text {
  font-family: monospace;
  text-align: center;
  font-size: large;
}

