.page-container{
    display: flex;
    overflow: auto; 
    /* outline: 1px dashed red; */

    /* outline: 1px dashed lightgray; */
    /* flex: none; */
}

.page-container.x {
 /* width: 100%;
    height: 128px; */
    flex-flow: row nowrap;
    overflow-x: scroll;

}

.page-container.y {
    flex-flow: column nowrap;
    overflow-y: scroll;

}


/* scroll-snap */
.x.mandatory-scroll-snapping {
    scroll-snap-type: x mandatory;
}

.y.mandatory-scroll-snapping {
    scroll-snap-type: y mandatory;
}

.x.proximity-scroll-snapping {
    scroll-snap-type: x proximity;
}

.y.proximity-scroll-snapping {
    scroll-snap-type: y proximity;
}

.page-container > div.page {
    position: relative;
    scroll-snap-align: center;
    flex: none
}

.x.page-container > div.page {
    width: 100%;
    height: auto;
}
.y.page-container > div.page {
    width: auto;
    height: 100%;
}

#poem-selector > div.page {
    /* outline: 1px dashed lightgray; */
    width: auto;
    height: 90%;
    overflow: hidden;
}

#poem-selector > div.fadedown {
  content: "";
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(to top, rgba(255,255,255,0), rgba(0,0,0, 1) 90%);
  width: 100%;
  min-height: 3%;
}

#poem-selector > div.fadeup {
  content: "";
  position: sticky;
  z-index: 1;
  top: 97%;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(0,0,0, 1) 90%);
  width: 100%;
  min-height: 3%;
}

.scroll-button{
    position: sticky;
    text-align: center; 
    width:100px; 
    min-height:2em; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: auto;
    margin-left: auto;
}

.scroll-button.down {
    -webkit-animation: ca3_fade_move_down 3s ease-in-out infinite;
    -moz-animation:    ca3_fade_move_down 3s ease-in-out infinite;
    animation:         ca3_fade_move_down 3s ease-in-out infinite;
}

.scroll-button.up {
    -webkit-animation: ca3_fade_move_up 3s ease-in-out infinite;
    -moz-animation:    ca3_fade_move_up 3s ease-in-out infinite;
    animation:         ca3_fade_move_up 3s ease-in-out infinite;
}

#back-button {
    text-align: center; 
    background-image: url(/images/arrow_left.png);
    width:100px; 
    min-height:2em; 
    background-repeat: no-repeat;
    background-size: contain;
}

#back-button div {
  transform: translateY(20%);
}

@-webkit-keyframes ca3_fade_move_down {
    0%   { -webkit-transform:translate(0,-5px); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -webkit-transform:translate(0,5px); opacity: 0; }
  }
  @-moz-keyframes ca3_fade_move_down {
    0%   { -moz-transform:translate(0,-5px); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -moz-transform:translate(0,5px); opacity: 0; }
  }
  @keyframes ca3_fade_move_down {
    0%   { transform:translate(0,-5px); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { transform:translate(0,5px); opacity: 0; }
  }

  @-webkit-keyframes ca3_fade_move_up {
    0%   { -webkit-transform:translate(0,5px); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -webkit-transform:translate(0,-5px); opacity: 0; }
  }
  @-moz-keyframes ca3_fade_move_up {
    0%   { -moz-transform:translate(0,5px); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -moz-transform:translate(0,-5px); opacity: 0; }
  }
  @keyframes ca3_fade_move_up {
    0%   { transform:translate(0,5px); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { transform:translate(0,-5px); opacity: 0; }
  }

  @-webkit-keyframes ca3_fade_move_left {
    0%   { -webkit-transform:translate(5px,0); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -webkit-transform:translate(-5px,0); opacity: 0; }
  }
  @-moz-keyframes ca3_fade_move_left {
    0%   { -moz-transform:translate(5px,0); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -moz-transform:translate(-5px,0); opacity: 0; }
  }
  @keyframes ca3_fade_move_left {
    0%   { transform:translate(5px,0); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { transform:translate(-5px,0); opacity: 0; }
  }

/* .x.page-container > div.page::after {
    width: 100vw;
    height: auto;
} */

/* .y.page-container > div.page:after {
    content:'';
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-image: -webkit-linear-gradient(15deg, rgba(255,255,255,.5) 15%, transparent, transparent ), linear-gradient(-15deg,rgba(255,255,255,.5) 15%, transparent, transparent );
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    background-image: -moz-linear-gradient(15deg, rgba(255,255,255,.5) 15%, transparent, transparent ), linear-gradient(-15deg,rgba(255,255,255,.5) 15%, transparent, transparent );
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    background-image: -ms-linear-gradient(15deg, rgba(255,255,255,.5) 15%, transparent, transparent ), linear-gradient(-15deg,rgba(255,255,255,.5) 15%, transparent, transparent );
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    background-image: -o-linear-gradient(15deg, rgba(255,255,255,.5) 15%, transparent, transparent ), linear-gradient(-15deg,rgba(255,255,255,.5) 15%, transparent, transparent );
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    background-image: linear-gradient(15deg, rgba(255,255,255,.5) 15%, transparent, transparent ), linear-gradient(-15deg,rgba(255,255,255,.5) 15%, transparent, transparent );
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    width: 11%;
    height: 5%;
} */