
svg.animated-text-svg-container {
  width: 100%;
  height: 100%;
}

g.animated-text {
  width: 100%;
  height: 100%;
  font-size: 1em;
  dominant-baseline: hanging;
  color: var(--inv);
  fill: var(--inv);
}

/* .animated-text-sentence {
  width: 100%;
  height: 100%;
  font-size: 1em;
  dominant-baseline: hanging;
} */


div.animated-text-container {
  width: 100%;
  height: 100%;
}

.animated-text-sentence {
  /* width: 100%; */
  margin: 0;
  font-size: 1em;
  dominant-baseline: hanging;
  /* position: relative;
  top: 50%;  */
  width: 24em;
  /*
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap; */
  overflow: hidden;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0%;}
  to{width: 100%;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}