.animated-text-sentence {
  /* width: 100%; */
  margin: 0;
  font-size: 0.8em;
  dominant-baseline: hanging;
  /* position: relative;
  top: 50%;  */
  width: 24em;
  /*
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap; */
  overflow: hidden;
}

div.animated-text-container p {
  max-width: 100%;
  width: fit-content;
  padding-left: 1.5em;
  text-indent:-1.5em;
  margin: 0.2em;
  white-space: pre-wrap;
}

div.animated-text-container  p[cursor=true]::after {
  position: relative;
  content: '| ';
  left: -0.33em;
  animation:  blinkTextCursor 1000ms infinite normal;
}

/*animation*/
@keyframes blinkTextCursor{
  from{opacity: 1;}
  to{opacity: 0.4;}
}